@model UpdateCategoryDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Kategori İşlemleri</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Kategori Güncelleme Formu</div>
                    </div>
                    <form asp-action="Update" asp-controller="Category" method="post">
                        <input type="hidden" asp-for="@Model.CategoryId" />
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.CategoryName"></label>
                                <input type="text" class="form-control" asp-for="@Model.CategoryName" placeholder="Kategori Adı">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Status"></label>
                                <select class="form-control" asp-for="@Model.Status" asp-items="@ViewBag.TFList">
                                </select>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success">Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


