@model List<ResultSlidereDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";

    int count = 0;
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Alan Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Öne Çıkan alan İle ilgili işlemleri aşağıdan geçerkleştirebilirsiniz. <strong>Tema bütünlüğü için sadece 1 adet Öne Çıkan alanı oluşturmayı unutmayın</strong>
                        </div>
                        <div class="text-end mb-2 my-2">
                            <a type="submit" asp-controller="Slider" asp-action="CreateSlider" class="btn btn-outline-info text-end">Yeni Öne Çıkan Alan Ekle</a>
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık 1</th>
                                    <th scope="col">Başlık 2</th>
                                    <th scope="col">Başlık 3</th>
                                    <th scope="col">Açıklama 1</th>
                                    <th scope="col">Açıklama 2</th>
                                    <th scope="col">Açıklama 3</th>
                                    <th scope="col">Sil</th>
                                    <th scope="col">Güncelle</th>
                                </tr>
                            </thead>
                            @if (Model.Count > 0)
                            {
                                <tbody>

                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <td>@count</td>
                                            <td>@item.Title</td>
                                            <td>@item.Title1</td>
                                            <td>@item.Title2</td>
                                            <td>@item.Description</td>
                                            <td>@item.Description1</td>
                                            <td>@item.Description2</td>
                                            <td><a class="btn btn-outline-danger" asp-controller="Slider" asp-action="Delete" asp-route-id="@item.DataProtector">Sil</a></td>
                                            <td><a class="btn btn-outline-warning" asp-controller="Slider" asp-action="Update" asp-route-id="@item.DataProtector">Güncelle</a></td>
                                        </tr>
                                    }
                                </tbody>
                            }
                            else
                            {
                                <tbody>
                                    <tr class="text-center">
                                        <td colspan="9">Veri Yok</td>
                                    </tr>
                                </tbody>
                            }
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

