@model CreateProductDto
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ürün İşlemleri</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Ürün Ekleme Formu</div>
                    </div>
                    <form asp-action="CreateProduct" asp-controller="Product" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.ProductName"></label>
                                <input type="text" class="form-control" asp-for="@Model.ProductName" placeholder="Ürün Adı">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.CategoryId"></label>
                                <select class="form-control" asp-for="@Model.CategoryId" asp-items="@ViewBag.CategoryData">
                                </select>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Description"></label>
                                <textarea rows="5" cols="5" class="form-control" asp-for="@Model.Description"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.ImageUrl"></label>
                                <input type="text" class="form-control" asp-for="@Model.ImageUrl">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Price"></label>
                                <input type="number" class="form-control" asp-for="@Model.Price">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.ProductStatus"></label>
                                <select class="form-control" asp-for="@Model.ProductStatus" asp-items="@ViewBag.TFList">
                                </select>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success">Ürün Ekle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

