@model UpdateTestimonialDto
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Referans İşlemleri</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Referans Güncelleme Formu</div>
                    </div>
                    <form asp-action="Update" asp-controller="Testimonial" method="post">
                        <input type="hidden" asp-for="@Model.TestimonialId"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="@Model.Name"></label>
                                <input type="text" class="form-control" asp-for="@Model.Name" placeholder="Ad Giriniz">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Title"></label>
                                <input type="text" class="form-control" asp-for="@Model.Title" placeholder="Başlık Giriniz">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Comment"></label>
                                <textarea rows="5" cols="5" class="form-control" asp-for="@Model.Comment"></textarea>
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.ImageUrl"></label>
                                <input type="text" class="form-control" asp-for="@Model.ImageUrl" placeholder="Resim Ekle">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Status"></label>
                                <select class="form-control" asp-for="@Model.Status" asp-items="@ViewBag.TFList">
                                </select>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success">Referans Güncelle</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
